.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__title {
  min-height: 96px;
  margin: 0;

  font-size: 2em;
}

.about__inner {
  @media (min-width: $bp-desktop) {
    background-image: url("../img/me.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  @media (min-width: $bp-desktop-large) {
    background-position: right 18% bottom;
  }
}

.about__text-wrapper {
  @media (min-width: $bp-tablet) {
    width: 85%;
  }

  @media (min-width: $bp-desktop) {
    width: 50%;
  }
}
