.contacts {
  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.contacts__list {
  @include list-reset;

  &:first-child {
    margin-bottom: 50px;

    @media (min-width: $bp-desktop) {
      margin: 0;
      margin-top: auto;
    }
  }
}

.contacts__item {
  margin-right: 5px;
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;
}
