.contacts__list {
  @include list-reset;

  &:first-child {
    margin-bottom: 50px;
  }

  &:last-child {
    text-align: right;
  }
}

.contacts__item {
  margin-right: 5px;
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;
}
