.form__row {
  display: flex;
  flex-direction: column;

  & input {
    padding: 0;
  }
}

.form__title {
  font-weight: 700;
}

.form__group {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  border: none;
}

.form__textarea {
  padding: 0;
}
