.logo {
  margin-right: 50px;
}

.logo__link {
  display: block;

  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  user-select: none;

  @keyframes text-focus-in {
    0% {
      opacity: 0;
      filter: blur(12px);
    }

    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  &:hover {
    animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}
