.logo {
  margin-right: 50px;
}

.logo__link {
  display: block;

  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  user-select: none;
}
