.main-navigation {
  position: relative;

  &--closed .main-navigation__list {
    display: none;
  }
}


.main-navigation__list {
  animation: swing 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

  @include list-reset;
}


.main-navigation--no-js .main-navigation__toggle {
  display: none;
}

.main-navigation__item {
  text-align: center;
}

.main-navigation__link {
  display: block;
  padding: 10px 5px;

  font-weight: 700;

  &:hover,
  &:focus {
    color: $link_color;
  }

  &:active {
    color: $link_color;

    opacity: 0.5;
  }
}

@keyframes swing {
  0% {
    transform: rotateX(70deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
