.page-header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
    align-items: center;
  }
}
