.skills {
  padding-top: 50px;
  padding-bottom: 50px;

  color: #ffffff;

  background-color: #1b1b1b;
}

.skills__title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.skills__list {
  @include list-reset;

  counter-reset: counter;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.skills-item {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 50px;

  counter-increment: counter;

  @media (min-width: $bp-tablet) {
    width: 45%;
    margin-right: 1em;
    margin-bottom: 1em;

    text-align: center;

    border: 1px solid #ffffff;

    &:last-child {
      width: 100%;
    }
  }

  @media (min-width: $bp-desktop) {
    margin-bottom: 2em;
  }
}

.skills-item__title {
  position: relative;

  margin: 0;
  padding-top: 50px;
  padding-bottom: 25px;

  &::before {
    content: "0" counter(counter);
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 400;
    font-size: 16px;

    opacity: 0.5;
  }

  @media (min-width: $bp-tablet) {
    &::before {
      left: 50%;

      transform: translateX(-50%);
    }
  }
}

.skills__image {
  width: 200px;
  height: 200px;
  margin: 0 auto;

  @media (min-width: $bp-tablet - 250px) {
    width: 250px;
    height: 250px;
  }

  @media (min-width: $bp-desktop) {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
}
