.skills {
  padding-top: 50px;
  padding-bottom: 50px;

  color: #ffffff;

  background-color: #1b1b1b;
}

.skills__title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.skills__list {
  @include list-reset;

  counter-reset: counter;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.skills-item {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 50px;

  counter-increment: counter;

  @media (min-width: $bp-tablet) {
    width: 45%;

    &:nth-of-type(2n) ::before {
      left: 100%;

      transform: translateX(-100%);
    }

    &:nth-of-type(2n) {
      text-align: right;
    }

    &:nth-of-type(2n) .skills__image {
      margin: 0;
      margin-left: auto;
    }

    &:last-child {
      width: 100%;

      text-align: center;
    }

    &:last-child .skills__image {
      margin: auto;
    }

    &:last-child ::before {
      right: 0;
    }
  }
}

.skills-item__title {
  position: relative;

  margin: 0;
  padding-top: 50px;
  padding-bottom: 25px;

  &::before {
    content: "0" counter(counter);
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 400;
    font-size: 16px;

    opacity: 0.5;
  }
}

.skills__image {
  width: 200px;
  height: 200px;
  margin: 0 auto;

  @media (min-width: $bp-tablet) {
    margin: 0;
    margin-right: auto;
  }

  @media (min-width: 550px) and (max-width: $bp-tablet - 1) {
    width: 300px;
    height: 300px;
  }
}
