.works {
  padding-top: 50px;
  padding-bottom: 50px;
}

.works__title {
  margin: 0 0 50px;

  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.works__list {
  @include list-reset;
}


.works__item:nth-child(even)  {
  text-align: right;
}
