@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgb(6 182 212);
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

u {
  box-shadow: inset 0 -0.3em 0 rgb(6 182 212);
  text-decoration: none;
  transition: box-shadow .3s ease-out;
}

u:hover {
  box-shadow: inset 0 -1em 0 rgb(6 182 212);
}

.dark u {
  color: orange;
}
